
html{
  background: black;
  height: 100%;
  position: static;
  overflow: scroll;
}
body {
  overflow: hidden;
}
.page-footer, .footer-copyright {
  background-color: white !important;
  text-align: center;
  font-family: 'Bungee', cursive;
  overflow: hidden;
  min-width: 100% !important;
  color: black !important;
}
#shapeHolder {
  margin-left: 8em;
  position: relative;
}
.container2{
  height: 130px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.square{
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{
  background: black;
  animation: rotate 13s infinite linear;
}

@keyframes rotate{
  0%{ transform: rotate(90deg); }
	100%{ transform: rotate(180deg); }
}/* custom styles */


a.brand-logo {
  font-size: 1.5em !important;
  font-family: 'Bungee', cursive;
}

h6 {
text-align: left;
padding-top: 1.5em;

}
#allSkillz1, #allSkillz2 {
  text-align: right;
padding-top: .4em;}

#favs {
  float: right;
  text-align: right;
  font-weight: bold;
  /*padding-top: .4em;}*/

  /*padding-bottom: 10px;*/
}
hr {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  color: white;
  border: none;
}
i {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}


#myName {
  color: black;
  font-family: 'Bungee', cursive;
  font-weight: bold !important;
  text-align: center;
}

#myIcons {
  text-align: center;
}

 #midCol1 {
  text-align: justify;;
  padding-left: 2em;
}
#midCol2 {
  text-align: justify;
  padding-left: 4em;
  float: right;
}
#projectz {
  text-align: left;
  padding-top: 1em;
}

html, document {
  font-family: 'Lora', serif;
  background-color: #FFFFFF;
}
h1 {
  text-align: center;
  color: white;
  height: 100px;
  padding: 0 15px;
}
p {
  text-align: justify;
  font-family: 'Lora', serif;
}


span {
  font-family: 'Roboto', sans-serif;
}
#background {
  text-align: justify;
  margin: 50px;
}
.nav-wrapper {
  background-color: white;
  font-size: 2em;
}
#bio {
  padding: 0 80px 0 80px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-color: black ;
  border-width: thick;

}

li {
  padding: 0px;
}
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 10px auto;
  overflow: hidden;
}


img {
  max-width: 100%;
  display:block;
  height: auto;
  border-radius: 80%;
}
