/* custom styles */

h1 {
  text-align: center;

  text-}


#columnone {
  width: 290px;
	float: left;
	padding: 5px 15px;
}
#columntwo {
  width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}
img {
  border-radius: 30px;
}
#columnthree {
  width: 270px;
	padding: 5px 15px;
	float: right;
  display: static;
}

body {
  background-color: #7DFF68;
  font-family: 'Lalezar', cursive;
}

h3 {
  margin: 8px;
}
