/* custom styles */

h1 {
  text-align: center;
  color: white;
  height: 100px;
  padding: 0 15px;
}
p {
  text-align: justify;
}
a {
  color: hotpink;
}
.nav-wrapper {
  background-color: black;
}

li {
  padding: 15px;
}
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 10px auto;

}

#columnone {
  width: 290px;
	float: left;
	padding: 5px 15px;
  color: white;
  }
#columntwo {
  width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
  color: white;
}
img {
  /*padding-bottom: 20px;
  padding-left: 30px;
  /*added border style and color, want to make it fit picture padding
  border-style: solid;
  border-color: hotpink; */
  max-width: 100%;
  display:block;
  height: auto;
  border-radius: 80%;
}

#columnthree {
  width: 270px;
	padding: 5px 15px;
	float: left;
  display: static;
  color: white;
}

body {
  font-family: 'Bitter', serif;

}

@media screen and (max-width: 980px) {
  #pagewrap {
		width: 94%;

  #columnone {
		width: 41%;
		padding: 1% 4%;
	}
	#columntwo {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#columnthree {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
}
@media screen and (max-width: 600px) {
  #columnone {
		width: auto;
		float: none;
	}

	#columntwo {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#columnthree {
		width: auto;
		float: none;
	}

}

@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}


h3 {
  margin: 8px;
}
